@import "tailwindcss";

@theme {
  --color-brand: #FF7026;
  --color-brand-dark: #e05e1a;
  --font-sans: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #000000;
}
